.chart
  text
    font 10px sans-serif

  .axisLeft text
    text-anchor end

  .axisTop text
    text-anchor start

  .table
    text
      text-anchor middle

    rect
      stroke #eee
      stroke-width 0.5px
